@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/Montserrat.ttf');
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
}

.img {
  margin-top: -100px;
  position: absolute;
  background-image: url('../../assets/bicycle.png');
  background-size: cover;
  height: 510px;
  width: 80%;
  opacity: 0.1;
  transform: scale(-1, 1);
}

.prices {
  display: flex;
  justify-content: center;
  background: none;
  margin-top: 20px;
  font-family: 'Montserrat';
}

.price {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  height: 200px;
  width: 300px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 30px;
  box-shadow: 1px 1px 20px 10px #000;
  padding: 10px;
}

.opt {
  font-weight: 900;
  font-size: 30px;
}

.text {
  font-size: 17px;
}