.app {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-style: normal; 
  background: rgb(255,222,0);
  background: linear-gradient(0deg, rgba(255,222,0,1) 42%, rgba(255,201,0,1) 61%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}